#portfolio-section {
  padding: 80px 15px;
}

#portfolio-section .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
}

#portfolio-section .title .square {
  background: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23px;
}

#portfolio-section .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
}

#portfolio-section .portfolio-container {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

#portfolio-section .portfolio-container .box {
  display: block;
  background: black;
  transition: all .4s ease-in-out;
  cursor: pointer;
  width: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

#portfolio-section .portfolio-container .box:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

#portfolio-section .portfolio-container .box .hover-bg {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0);
  transition: all .4s ease-in-out;
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box:hover .hover-bg {
  padding: 10px 20px;
  background: rgba(255, 53, 53, .7);
}

#portfolio-section .portfolio-container .box .image .hover-bg .title {
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  transition: all .15s;
  opacity: 0;
  text-align: center;
}

#portfolio-section .portfolio-container .box:hover .image .hover-bg .title .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  text-align: center;
}

/* Box locations */
#portfolio-section .portfolio-container .box {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

#portfolio-section .portfolio-container .box.image1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#portfolio-section .portfolio-container .box.image1 .image {
  background: url('https://image.ibb.co/fpoFYV/online-clothing-store.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box.image2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

#portfolio-section .portfolio-container .box.image2 .image {
  background: url('https://i.ibb.co/bH9xx87/real-estate-application-landing-page-img.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

#portfolio-section .portfolio-container .box.image3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#portfolio-section .portfolio-container .box.image3 .image {
  background: url('https://i.ibb.co/xHxzM8q/jr-fencing.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

#portfolio-section .portfolio-container .box.image4 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

#portfolio-section .portfolio-container .box.image4 .image {
  background: url('https://i.ibb.co/s2jQN1L/toyota-responsive-lp.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

#portfolio-section .portfolio-container .box.image5 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

#portfolio-section .portfolio-container .box.image5 .image {
  background: url('https://i.ibb.co/PDPqzr2/last-travel-booking-img.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

#portfolio-section .portfolio-container .box.image6 {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

#portfolio-section .portfolio-container .box.image6 .image {
  background: url('../../img/collegesocialmediasite.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#portfolio-section .portfolio-container .box.image7 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#portfolio-section .portfolio-container .box.image7 .image {
  background: url('https://cdn.dribbble.com/users/13307/screenshots/4353012/web_design_modern_portfolio_gold_3d_hi_tech.jpg');
  background: url('../../img/comingsoon.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* Tablets*/
@media screen and (max-width: 960px) {
  #portfolio-section .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 10px;
  }

  #portfolio-section .portfolio-container .box.image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  #portfolio-section .portfolio-container .box.image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  #portfolio-section .portfolio-container .box.image3 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  #portfolio-section .portfolio-container .box.image4 {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  #portfolio-section .portfolio-container .box.image5 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }

  #portfolio-section .portfolio-container .box.image6 {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
  }

  #portfolio-section .portfolio-container .box.image7 {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
  }
}

/* Phones*/
@media screen and (max-width: 767px) {
  #portfolio-section .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 10px;
  }

  #portfolio-section .portfolio-container .box.image1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  #portfolio-section .portfolio-container .box.image2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  #portfolio-section .portfolio-container .box.image3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  #portfolio-section .portfolio-container .box.image4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  #portfolio-section .portfolio-container .box.image5 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }

  #portfolio-section .portfolio-container .box.image6 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
  }

  #portfolio-section .portfolio-container .box.image7 {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
  }
}